*,
::before,
::after {
  box-sizing: unset !important;
}
html {
  background-color: #121212;
  color: white;
}

.App {
  background-color: #121212;
}

/* HEADER STYLES */
.header {
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #121212;
  color: white;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px #363636 solid;
}

.header #menu-icon {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.header h1 {
  margin-left: 8%;
  font-weight: 900;
}

.header .icons svg {
  width: 1.8em;
  height: 1.8em;
  padding: 0 0.6rem;
  cursor: pointer;
}

.sidebar {
  color: white;
  background-color: #121212;
  border-right: #363636 1px solid;
  border-bottom: #363636 1px solid;

  width: 20vw;
  height: 70vh;

  position: absolute;
  top: calc(1rem + 2em + 1rem);
  left: 0;

  margin: 1rem 0;
  padding: 0.8rem 0.8rem;

  transition: transform 0.3s ease-in;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.3);
}

.sidebar.hidden {
  transform: translateX(-21rem);
  transition: transform 0.3s ease-out;
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar code {
  margin-top: 0.5rem;
  color: white;
}

.modal-content{
  background-color: #121212 !important;
    color: white !important;
    border: none !important;
}

.modal-header{
  border: none !important;
}

.modal-body{
  padding-top: 0 !important;
}

/* GAME */
#container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto 0;
  max-width: 500px;
  width: 100%;
}

/* GAME BOARD */
#board {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#board-module {
  grid-gap: 5px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  height: 420px;
  padding: 10px;
  width: 350px;
}

.board-row {
  grid-gap: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#board .box {
  align-items: center;
  border: 2px solid #363636;
  box-sizing: border-box;
  color: white;
  display: inline-flex;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
}

/* KEYBOARD */
#keyboard {
  height: 200px;
}

.key-row {
  display: flex;
  margin: 0 auto 8px;
  width: 100%;
}

.keyboard-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  background-color: #818384;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  flex: 1 1;
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 700;
  height: 58px;
  justify-content: center;
  margin: 0 3px;
  padding: 0;
  text-transform: uppercase;
  user-select: none;
}

.keyboard-button#enter {
  font-size: 0.9rem;
  padding: 0 1.2rem;
}

.keyboard-button#backspace svg {
  height: 1.2em;
  width: 1.2em;
  margin: 0 1.2rem;
}

.flex-div {
  flex: 0.5 1;
}

@media (max-width: 600px) {
  .header {
    padding: 0.5rem;
  }

  .header h1 {
    font-size: 1.4rem;
  }

  .header .icons svg {
    width: 1.4em;
    height: 1.4em;
    padding: 0 0.6rem;
  }

  #container {
    margin-top: 0.4rem;
  }
  .flex-div {
    display: none;
  }

  .keyboard-button#enter {
    font-size: 0.75rem;
    padding: 0 0.3rem;
  }

  .keyboard-button#backspace svg {
    /* height: 1em;
    width: 1em; */
    margin: 0 0.6rem;
  }
}
