html {
  background-color: #121212;
  color: white;
}

/* HEADER STYLES */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #121212;
  color: white;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px #363636 solid;
}

#header #menu-icon {
  width: 1.5em;
  height: 1.5em;
}

#header h1 {
  margin-left: 8%;
  font-weight: 900;
}

#header .icons svg {
  width: 1.8em;
  height: 1.8em;
  padding: 0 0.6rem;
}

/* GAME */
#container {
  display: flex;
  flex-direction: column;
  margin: 1.8rem auto 0;
  max-width: 500px;
  width: 100%;
}

/* GAME BOARD */
#board {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#board-module {
  grid-gap: 5px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  height: 420px;
  padding: 10px;
  width: 350px;
}

.board-row {
  grid-gap: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#board .box {
  align-items: center;
  border: 2px solid #363636;
  box-sizing: border-box;
  color: white;
  display: inline-flex;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
}

/* KEYBOARD */
#keyboard {
  height: 200px;
}

.key-row {
  display: flex;
  margin: 0 auto 8px;
  width: 100%;
}

.keyboard-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  background-color: #818384;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  flex: 1 1;
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 700;
  height: 58px;
  justify-content: center;
  margin: 0 3px;
  padding: 0;
  text-transform: uppercase;
  user-select: none;
}

.keyboard-button#enter {
  font-size: 0.9rem;
  padding: 0 1.2rem;
}

.keyboard-button#backspace svg {
  height: 1.2em;
  width: 1.2em;
  margin: 0 1.2rem;
}

.flex-div {
  flex: 0.5 1;
}

@media (max-width: 600px) {
#header{
  padding: .5rem;

}

#header h1{
  font-size: 1.4rem;
}

#header .icons svg{
  width: 1.4em;
  height: 1.4em;
  padding: 0 0.6rem;
}

  #container{
    margin-top: .8rem;
  }
  .flex-div{
    display: none;
  }

  .keyboard-button#enter{
    font-size: .75rem;
    padding: 0 .3rem;
  }

  .keyboard-button#backspace svg {
    /* height: 1em;
    width: 1em; */
    margin: 0 .6rem;
  }
}
